/*MISC*/
html {
  font-size: 62.5%; }

body {
  font-family: grandstander;
  margin: 0%;
  padding: 0%;
  min-height: 100vh;
  background: url(../img/pexels-pixabay-159519.jpg) no-repeat center center fixed;
  background-size: cover; }

.container {
  max-width: 1200px;
  margin: 0% auto; }

.container2 {
  max-width: 1200px;
  margin: 0% auto; }

a {
  text-decoration: none;
  padding: .5rem .5rem;
  display: inline-block; }

h1 {
  font-weight: bold; }

h2 {
  font-weight: bold; }

h3 {
  font-weight: bold; }

h4 {
  font-weight: bold; }

h5 {
  font-weight: bold; }

h6 {
  font-weight: bold; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

/*PARTIALS*/
/* HEADER */
header {
  background: linear-gradient(rgba(8, 8, 8, 0.966), rgba(234, 221, 202, 0.514)); }

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  align-items: center;
  flex-wrap: wrap; }
  .navbar .navbar__logo {
    max-width: 150px;
    min-width: 150px; }

.menu {
  list-style: none;
  display: flex;
  gap: 3rem; }
  .menu .menu__navegacion {
    font-size: 2em;
    color: #000000;
    transition: all .3s ease-in-out;
    border-radius: .4em; }
    .menu .menu__navegacion:hover {
      background-color: #4d1f1f79;
      color: #efefef; }

footer {
  background-color: #3b0e44;
  width: 100%; }

.grupo-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .grupo-1 .box img {
    width: 25em; }
  .grupo-1 .box h2 {
    color: white;
    font-size: 2em;
    text-align: center; }
  .grupo-1 .box h4 {
    color: white;
    font-size: 2em; }
  .grupo-1 .box h3 {
    color: white;
    font-size: 1.6em; }
  .grupo-1 .box h5 {
    color: white;
    font-size: 1em;
    text-align: center; }
  .grupo-1 .box p {
    color: #efefef;
    margin: 0%;
    text-align: center; }
  .grupo-1 .redes {
    text-decoration: none;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem; }
    .grupo-1 .redes a {
      display: flex;
      background-color: #3b0e44;
      text-decoration: none;
      padding: .3rem; }
    .grupo-1 .redes img {
      width: 3.5rem;
      background-color: #3b0e44; }

/*PAGES*/
.frente__box {
  display: flex;
  background: linear-gradient(rgba(234, 221, 202, 0.315), rgba(234, 221, 202, 0.25));
  padding: 5rem; }
  .frente__box .grupo5 {
    display: flex;
    margin: 0%;
    text-align: center; }
    .frente__box .grupo5 .box3 h2 {
      font-size: 4em; }
    .frente__box .grupo5 .box3 p {
      text-align: center;
      font-size: 2.3em;
      color: #020202;
      margin: 1rem;
      max-width: 40em; }
    .frente__box .grupo5 .frente__iframe {
      padding: 1%;
      background-color: #4d1f1f;
      border-radius: 2rem;
      height: 43rem;
      height: 40rem; }
      .frente__box .grupo5 .frente__iframe iframe {
        width: 43rem;
        width: 40rem;
        border-radius: 2rem;
        height: 100%; }

.frente__alg {
  display: grid;
  background-color: #d69a56ea;
  height: auto;
  align-content: center;
  justify-items: center;
  padding-top: 0; }
  .frente__alg h2 {
    margin-top: 1rem;
    height: 1rem;
    font-size: 2em; }
  .frente__alg p {
    font-size: 1.5em; }
  .frente__alg .frente__lista ul {
    list-style: none;
    display: flex;
    width: 40rem;
    justify-content: space-around;
    padding: 0; }

.frente__marcas {
  display: flex;
  text-align: center;
  color: #efefef;
  margin: 0;
  flex-direction: column;
  align-items: center;
  max-width: 100%; }
  .frente__marcas h2 {
    font-size: 3em; }

.frente__marcas .frente__marcas--img ul {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
  gap: 3rem;
  list-style: none; }

.frente__marcas .frente__marcas--img li {
  padding: 1%;
  background-color: #271414a4;
  border-radius: 3rem;
  font-size: 2.5em;
  max-width: 38rem;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .frente__marcas .frente__marcas--img li:hover {
    transform: scale(1.1); }
  .frente__marcas .frente__marcas--img li img {
    border-radius: 3rem;
    width: 100%; }

.hr1 {
  margin-top: 3rem;
  color: orange;
  margin-bottom: 2%;
  opacity: 1;
  border-top: 3px solid; }

.formulario {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem; }
  .formulario .h1trabajo {
    font-size: 25px;
    margin-bottom: 2rem;
    border-bottom: 1px solid;
    text-align: center; }
  .formulario .formulario__posimg {
    display: flex;
    align-items: flex-end; }
  .formulario .formulario__posimg .formulario__avatar img {
    width: 500px;
    margin-top: 2rem;
    border-bottom: 3px solid; }

form {
  background-color: rgba(208, 202, 247, 0.918);
  width: 425px;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 5px;
  font-size: 1.4rem;
  gap: 1rem; }

.nombrecompleto {
  width: 185px;
  border-color: black;
  background: rgba(211, 202, 202, 0.281); }

.border {
  border-color: black;
  border-radius: 3px;
  background: rgba(211, 202, 202, 0.281); }

.card2 {
  background-color: rgba(240, 153, 22, 0.897);
  max-width: 1200px; }

.libros {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10rem;
  margin-top: 2rem;
  justify-content: space-around; }
  .libros h2 {
    color: #f7f7f7;
    font-style: unset; }
  .libros .libros__economia {
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(90, 92, 106, 0.349) 0%, rgba(32, 45, 58, 0.219) 81.3%);
    border-radius: 1.2em;
    margin-bottom: 3em;
    margin-top: 1em;
    padding: 1em 1em;
    padding-bottom: 4em;
    display: flex;
    justify-content: center;
    width: 33rem; }
    .libros .libros__economia:hover {
      transform: scale(1.1); }
  .libros .libros__top10 {
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(90, 92, 106, 0.349) 0%, rgba(32, 45, 58, 0.219) 81.3%);
    border-radius: 1.2em;
    margin-bottom: 3em;
    margin-top: 1em;
    padding: 1em 1em;
    padding-bottom: 6.5em; }
    .libros .libros__top10:hover {
      transform: scale(1.1); }
  .libros .libros__cocina {
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(90, 92, 106, 0.349) 0%, rgba(32, 45, 58, 0.219) 81.3%);
    border-radius: 1.2em;
    margin-bottom: 3em;
    margin-top: 1em;
    padding: 1em 1em;
    padding-bottom: 3em; }
    .libros .libros__cocina:hover {
      transform: scale(1.1); }

/* libros2 */
.libros2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10rem;
  margin-top: 2rem;
  justify-content: space-around; }
  .libros2 h2 {
    color: #f7f7f7;
    font-style: unset; }
  .libros2 .libros2__ficcion {
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(90, 92, 106, 0.349) 0%, rgba(32, 45, 58, 0.219) 81.3%);
    border-radius: 1.2em;
    margin-bottom: 3em;
    margin-top: 1em;
    padding: 1em 1em;
    padding-bottom: 6.5em; }
    .libros2 .libros2__ficcion:hover {
      transform: scale(1.1); }
  .libros2 .libros2__autoayuda {
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(90, 92, 106, 0.349) 0%, rgba(32, 45, 58, 0.219) 81.3%);
    border-radius: 1.2em;
    margin-bottom: 3em;
    margin-top: 1em;
    padding: 1em 1em;
    padding-bottom: 6.5em; }
    .libros2 .libros2__autoayuda:hover {
      transform: scale(1.1); }
  .libros2 .libros2__clasicos {
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(90, 92, 106, 0.349) 0%, rgba(32, 45, 58, 0.219) 81.3%);
    border-radius: 1.2em;
    margin-bottom: 3em;
    margin-top: 1em;
    padding: 1em 1em;
    padding-bottom: 4em; }
    .libros2 .libros2__clasicos:hover {
      transform: scale(1.1); }

/* efects carousel */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.589);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
    max-width: 100%; }
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.712);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px; }
  .hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .1s ease-in-out;
    margin: 50px 0 0;
    padding: 14px 18px;
    font-size: 1.3em; }
    .hovereffect a.info:hover {
      box-shadow: 0 0 5px #fff; }
  .hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100); }
  .hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s; }

.hovereffect:hover h2, .hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0); }

.carousel {
  width: 30rem;
  height: 45rem; }

.new-box {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center; }
  .new-box .title-card h1 {
    color: #f9f6f6;
    font-size: 2.8em; }
  .new-box .title-card h3 {
    font-size: 2.2em;
    color: #938383;
    margin-bottom: 3rem; }

.quotes {
  width: 80vw;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2; }
  .quotes .box {
    position: relative;
    width: 25vw;
    height: 55vh;
    min-height: 320px;
    background: #000000;
    overflow: hidden;
    transition: all 2s ease-out;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3); }
    .quotes .box::before {
      content: '\201C';
      position: absolute;
      top: -20px;
      left: 5px;
      height: 100%;
      font-size: 120px;
      opacity: 0.2;
      background: transparent;
      pointer-events: none; }
    .quotes .box::after {
      content: '\201D';
      position: absolute;
      bottom: -10%;
      right: 5%;
      font-size: 120px;
      opacity: 0.2;
      background: transparent;
      filter: invert(1);
      pointer-events: none; }
    .quotes .box p {
      margin: 1.5rem;
      padding: 10px;
      font-size: 1.8em;
      color: white; }
    .quotes .box h2 {
      position: absolute;
      margin: 2.5rem;
      padding: 0;
      bottom: 10%;
      right: 10%;
      font-size: 2.2em;
      color: white; }
    .quotes .box:hover {
      color: #f2f2f2;
      box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5); }
  .quotes .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease-in;
    pointer-events: none;
    width: 100%;
    overflow: hidden; }

.quotes .box.box1:hover,
.quotes .box.box1:hover ~ .bg {
  opacity: 1;
  background: #e2a9e5;
  background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
  background: -webkit-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
  background: linear-gradient(135deg, #e2a9e5 15%, #2b94e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 ); }

.quotes .box.box2:hover,
.quotes .box.box2:hover ~ .bg {
  opacity: 1;
  background: #632c65;
  background: -moz-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
  background: -webkit-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
  background: linear-gradient(135deg, #632c65 15%, #56a5e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 ); }

.quotes .box.box3:hover,
.quotes .box.box3:hover ~ .bg {
  opacity: 1;
  background: #4b384c;
  background: -moz-linear-gradient(-45deg, #4b384c 15%, #da5de2 100%);
  background: -webkit-linear-gradient(-45deg, #4b384c 15%, #da5de2 100%);
  background: linear-gradient(135deg, #4b384c 15%, #da5de2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 ); }

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 2rem; }

#size {
  height: 350px; }

#size2 {
  height: 520px; }

.card {
  transform: translate(-50% -50%);
  width: 350px;
  height: 430px;
  background: #262626;
  overflow: hidden; }
  .card:hover .imgBx {
    top: 0;
    left: -100%; }
  .card .details {
    background: #262626;
    top: 0;
    left: 100%;
    padding: 60px 30px;
    border: 1px solid #efefef; }
    .card .details h2 {
      color: #fff;
      text-align: center;
      margin: 0;
      padding: 0 0 10px;
      border-bottom: 2px solid #fff;
      font-size: 2em; }
    .card .details p {
      margin: 20px 0 0;
      color: #fff;
      font-size: 1.3em;
      font-weight: bold;
      text-align: center;
      font-family: system-ui; }
  .card:hover .details {
    top: 0;
    left: 0%; }

.card .imgBx,
.card .details {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  transition: .5s; }

.card .imgBx {
  top: 0;
  left: 0; }
  .card .imgBx img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; }

/* LOGO WHATSAPP MOVEDIZO */
.logomove {
  position: fixed;
  top: 85%;
  left: 95%;
  animation: tada 1.2s infinite; }
  .logomove h6 {
    font-size: 1.3rem;
    position: relative;
    bottom: 6rem;
    right: 10.5rem;
    background-color: #74a368;
    border-radius: .4rem;
    border-style: double;
    color: black; }

.logowpp a {
  text-decoration: none; }

/*MDIASQ*/
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center; }
  .menu {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0; }
  .frente__box .grupo5 {
    flex-direction: column;
    font-size: .7em;
    align-items: center; }
    .frente__box .grupo5 .frente__iframe {
      width: 30rem;
      height: 30rem;
      padding: 1rem; }
      .frente__box .grupo5 .frente__iframe iframe {
        width: 30rem;
        height: 35rem; }
  .frente__alg {
    font-size: .8em; }
    .frente__alg .frente__lista ul {
      justify-content: space-evenly;
      margin: 0%;
      padding: 0%; }
  .frente__alg .frente__lista ul {
    justify-content: space-evenly;
    margin: 0%;
    padding: 0%; }
    .frente__alg .frente__lista ul li img {
      width: 25px; }
  .frente__marcas {
    flex-direction: column; }
    .frente__marcas h2 {
      font-size: 1.8em; }
    .frente__marcas--img ul {
      flex-direction: column;
      justify-content: center;
      margin: 5rem 0;
      padding: 0; }
      .frente__marcas--img ul li {
        width: 10em;
        height: 10em;
        margin-bottom: 3rem; }
        .frente__marcas--img ul li img {
          width: 8em;
          height: 8em; }
        .frente__marcas--img ul li h5 {
          font-size: .5em; }
  .logowpp {
    display: none; }
  .grupo-1 {
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 1rem;
    font-size: .8em; }
    .grupo-1 .redes {
      padding: 1rem; }
    .grupo-1 .box p {
      padding: 1rem; }
      .grupo-1 .box p h5 {
        margin: 0;
        padding: 0;
        text-align: center; }
      .grupo-1 .box p h3 {
        margin: .5em 0;
        text-align: center; }
      .grupo-1 .box p h4 {
        margin-left: 0;
        text-align: center; }
  .libros {
    display: flex;
    flex-wrap: wrap; }
  .libros2 {
    display: flex;
    flex-wrap: wrap; }
  .quotes {
    justify-content: center;
    margin-bottom: 2rem;
    padding: 2rem;
    gap: 1rem; }
    .quotes .box {
      width: 60vw;
      justify-content: center; }
      .quotes .box::after {
        font-size: 100px;
        bottom: -18%;
        right: 2.9%; }
      .quotes .box::before {
        font-size: 100px; }
      .quotes .box p {
        font-size: 1.4em;
        font-weight: bold;
        width: 100%;
        margin-left: 0; }
      .quotes .box h2 {
        margin: 0;
        font-size: 1.7em; }
  .new-box .title-card h1 {
    color: #f9f6f6;
    font-size: 1.3em; }
  .new-box .title-card h3 {
    font-size: 1.1em;
    color: #938383; }
  .formulario .formulario__posimg .formulario__avatar img {
    width: 290px; } }

@media screen and (max-width: 425px) {
  body {
    font-size: .6em; }
  .frente__alg .frente__lista ul {
    justify-content: center; }
  .frente__box .grupo5 .frente__iframe {
    width: 22rem;
    height: 23rem; }
    .frente__box .grupo5 .frente__iframe iframe {
      width: 22rem;
      height: 23rem; }
  .frente__marcas .frente__marcas--img ul {
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    margin-bottom: 2rem; }
    .frente__marcas .frente__marcas--img ul li {
      width: 30rem;
      height: 30rem; }
      .frente__marcas .frente__marcas--img ul li h5 {
        font-size: 1.1em; }
      .frente__marcas .frente__marcas--img ul li img {
        width: 100%;
        height: 100%; }
  .frente__marcas .frente__marcas--img .frente__marcas--filgo {
    height: 35rem; }
  .quotes {
    justify-content: center;
    margin-bottom: 2rem;
    padding: 2rem;
    gap: 1rem; }
    .quotes .box {
      width: 60vw;
      justify-content: center; }
      .quotes .box::after {
        font-size: 75px;
        bottom: -12%;
        right: 0.9%; }
      .quotes .box::before {
        font-size: 75px;
        top: -7px; }
      .quotes .box p {
        font-size: 2em;
        font-weight: bold;
        width: 100%;
        margin-left: 0; }
      .quotes .box h2 {
        margin: 0;
        font-size: 2.2em; }
  .new-box .title-card h1 {
    color: #f9f6f6;
    font-size: 3em; }
  .new-box .title-card h3 {
    font-size: 2em;
    color: #938383; }
  .formulario .formulario__posimg .formulario__avatar img {
    display: none; }
  .formulario .form1 .text-area {
    width: 150px;
    height: 50px; } }

@media screen and (max-width: 375px) {
  body {
    font-size: .7em; }
  .navbar {
    flex-direction: column;
    align-items: center; }
  .menu {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0; }
  .frente__box .grupo5 {
    flex-direction: column;
    font-size: .7em;
    align-items: center;
    width: auto; }
    .frente__box .grupo5 .frente__iframe {
      width: 22rem;
      height: 22rem;
      padding: 1rem; }
      .frente__box .grupo5 .frente__iframe iframe {
        width: 20rem;
        height: 20rem; }
  .frente__alg .frente__lista ul {
    flex-wrap: wrap;
    width: 100%;
    gap: .5rem; }
    .frente__alg .frente__lista ul li img {
      width: 25px; }
  .frente__marcas .frente__marcas--img ul {
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    margin-bottom: 2rem; }
    .frente__marcas .frente__marcas--img ul li {
      width: 30rem;
      height: 30rem; }
      .frente__marcas .frente__marcas--img ul li h5 {
        font-size: .9em; }
      .frente__marcas .frente__marcas--img ul li img {
        width: 100%;
        height: 100%; }
  .frente__marcas .frente__marcas--img .frente__marcas--filgo {
    height: 35rem; }
  .logowpp {
    display: none; }
  .grupo-1 {
    flex-wrap: wrap;
    font-size: 1.2em; }
    .grupo-1 .box .redes {
      margin-left: 0;
      padding: 0;
      justify-content: center; }
    .grupo-1 .box h3 {
      margin-left: 0;
      padding: 0;
      text-align: center; }
    .grupo-1 .box h4 {
      margin-left: 0;
      padding: 0;
      text-align: center; }
    .grupo-1 .box h5 {
      margin-left: 0;
      padding: 0;
      text-align: center; }
    .grupo-1 .box p {
      font-size: 1.2em; }
  .libros {
    display: flex;
    flex-wrap: wrap;
    gap: 3em; }
  .libros2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15em; }
  .quotes {
    justify-content: center;
    margin-bottom: 2rem;
    padding: 2rem;
    gap: 1rem; }
    .quotes .box {
      width: 60vw;
      justify-content: center; }
      .quotes .box::after {
        font-size: 60px;
        bottom: -6%;
        right: 1.9%; }
      .quotes .box::before {
        font-size: 60px; }
      .quotes .box p {
        font-size: 2.2em;
        font-weight: bold;
        width: 100%;
        margin-left: 0; }
      .quotes .box h2 {
        margin: 0;
        font-size: 2.4em; }
  .new-box .title-card h1 {
    color: #f9f6f6;
    font-size: 1.8em; }
  .new-box .title-card h3 {
    font-size: 1.5em;
    color: #938383; }
  .new-box .title-card h1 {
    font-size: 3.6em; }
  .new-box .title-card h3 {
    font-size: 2.4em; }
  form {
    width: 260px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: .5rem; }
  .formulario .formulario__posimg .formulario__avatar img {
    display: none; }
  .formulario .form1 .text-area {
    width: 150px;
    height: 50px; }
  #card__size {
    text-align: center; }
    #card__size h5 {
      font-size: 2.2em !important; }
    #card__size p {
      padding: 1rem 2rem;
      font-size: 1.4em !important; }
  .img-fluid {
    width: 280px;
    margin: 0;
    padding: 0; }
  .formulario .card__position {
    display: flex;
    justify-content: center; }
  .formulario .form1 fieldset {
    display: flex;
    flex-wrap: wrap;
    width: 250px; } }
