
@media screen and (max-width: 768px) {

    .navbar{
        flex-direction: column;
        align-items: center;
    }

    
    .menu{
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

.frente__box .grupo5{
        flex-direction: column;
        font-size: .8em;
        align-items: center;

        .frente__iframe{
            @include sizes (50rem, 46rem);
            padding: 1rem;

            iframe{
                @include sizes (48rem, 44rem);
            }
        }
    }

.frente__alg{
        font-size: .8em;

        .frente__lista ul{
            justify-content: space-evenly;
            margin: 0%;
            padding: 0%;
            
        }
    }

.frente__alg .frente__lista ul{
    justify-content: space-evenly;
    margin: 0%;
    padding: 0%;

    li img{
        width: 25px;
    }
    
}

.frente__marcas{
        flex-direction: column;

        h2{
            font-size: 1.8em;
        }

        &--img ul{
            flex-direction: column;
            justify-content: center;
            margin: 5rem 0;
            padding: 0;

            li{
                @include sizes (32rem, 28rem);
                margin-bottom: 3rem;

                img{
                    width: 8em;
                    height: 8em;
                }

                h5{
                    font-size: .5em;
                }
            }
        }
    }

    .logowpp{
        display: none;
    }

    .grupo-1{
        flex-wrap: wrap;
        margin: 0;
        padding-bottom: 1rem;
        font-size: 1.1em;

        .redes{
            padding: 1rem;
        }

        .box p{
            padding: 1rem;

            h5{
                margin: 0;
                padding: 0;
                text-align: center;
            }

            h3{
                margin: .5em 0;
                text-align: center;
            }

            h4{
                margin-left: 0;
                text-align: center;
            }
        }
    }

    .libros{
        display: flex;
        flex-wrap: wrap;
    }
    .libros2{
        display: flex;
        flex-wrap: wrap;
    }

    .quotes{
        justify-content: center;
        margin-bottom: 2rem;
        padding: 2rem;
        gap: 1rem;

        .box{
            width: 60vw;
            justify-content: center;

            &::after{
                font-size: 100px;
                bottom: -18%;
                right: 2.9%;
            }

            &::before{
                font-size: 100px;
            }

            p {
                font-size: 1.4em;
                font-weight: bold;
                width: 100%;
                margin-left: 0;
            }

            h2{
                margin: 0;
                font-size: 1.7em;
            }
        }
    }

    .new-box .title-card h1{
        color: #f9f6f6;
        font-size: 1.3em;
    }

    .new-box .title-card h3{
        font-size: 1.1em;
        color: #938383;
    }

    .formulario .formulario__posimg .formulario__avatar img{
        width: 290px;
    }

    .guide{
        overflow: hidden;
    }
}

@media screen and (max-width: 576px){
    .guide{
        overflow: hidden;

        .guide__step{
            flex-direction: column;
            align-items: center;
        }

        .guide__step2{
            flex-direction: column;
            align-items: center;

            .guide__step--avatar{
                margin-top: 3rem;
            }
        }
    }

    .frente__box .grupo5 {

        .frente__iframe{
        width: 33rem;
        height: 28rem;

        iframe{
            width: 31rem;
            height: 26rem;
        }
    }
}
}

// MEDIA 425

@media screen and (max-width: 425px){
    body{
        font-size: .6em;
    }
    .frente__alg .frente__lista ul{
        justify-content: center;
    }

    .frente__box .grupo5 {

        .box3{
            font-size: 1.4em;
        }

        .frente__iframe{
        width: 33rem;
        height: 28rem;

        iframe{
            width: 31rem;
            height: 26rem;
        }
    }
}
    .frente__marcas .frente__marcas--img ul{
        flex-direction: column;
        margin: 0%;
        padding: 0%;
        margin-bottom: 2rem;

        li{
            width: 30rem;
            height: 30rem;

            h5{
                font-size: 1.1em;
            }

            img{
                width: 100%;
                height: 100%;
            }
        }
    }


    .frente__marcas .frente__marcas--img .frente__marcas--filgo{
        height: 35rem;
    }

    .quotes{
        justify-content: center;
        margin-bottom: 2rem;
        padding: 2rem;
        gap: 1rem;

        .box{
            width: 60vw;
            justify-content: center;

            &::after{
                font-size: 75px;
                bottom: -12%;
                right: 0.9%;
            }

            &::before{
                font-size: 75px;
                top: -7px;
            }

            p {
                font-size: 2em;
                font-weight: bold;
                width: 100%;
                margin-left: 0;
            }

            h2{
                margin: 0;
                font-size: 2.2em;
            }

        }
    }

    .new-box .title-card h1{
        color: #f9f6f6;
        font-size: 3em;
    }

    .new-box .title-card h3{
        font-size: 2em;
        color: #938383;
    }

    
    .formulario .formulario__posimg .formulario__avatar img{
    display: none;
    }

    .formulario .form1 .text-area{
        width: 150px;
        height: 50px;
    }

    .guide{
        flex-direction: column!important;
        overflow: hidden;

        .guide__step{
            flex-direction: column;
            align-items: center;
        }

        .guide__step2{
            flex-direction: column;
            align-items: center;
        }
    }

    .grupo-1 .box {
            p {
            font-size: 2em;
            }

            h2{
                font-size: 4em;
            }

            h3{
                font-size: 3em;
            }

            h4{
                font-size: 3em;
            }

            h5{
                font-size: 3em;
            }
    }
}

// MEDIA 375

@media screen and (max-width: 375px) {
    body{
        font-size: .7em;
    }

    .navbar{
        flex-direction: column;
        align-items: center;
    }

    .menu{
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .frente__box .grupo5{
        flex-direction: column;
        font-size: .7em;
        align-items: center;
        width: auto;

        .frente__iframe{
            @include sizes (31rem, 24rem);
            padding: 1rem;

            iframe {
                @include sizes (29rem, 22rem);
            }
        }
    }

    .frente__alg .frente__lista ul{
        flex-wrap: wrap;
        width: 100%;
        gap: .5rem;

        li img{
            width: 25px;
        }
    }

    .frente__marcas .frente__marcas--img ul{
        flex-direction: column;
        margin: 0%;
        padding: 0%;
        margin-bottom: 2rem;

        li{
            width: 30rem;
            height: 30rem;

            h5{
                font-size: .9em;
            }

            img{
                width: 100%;
                height: 100%;
            }
        }
    }


    .frente__marcas .frente__marcas--img .frente__marcas--filgo{
        height: 35rem;
    }

    .logowpp{
        display: none;
    }

    .grupo-1{
        flex-wrap: wrap;
        font-size: .9em;

        .box{
            .redes{
                margin-left: 0;
                padding: 0;
                justify-content: center;
            }

            h3{
                margin-left: 0;
                padding: 0;
                text-align: center;
                font-size: 2em;
            }

            h4{
                margin-left: 0;
                padding: 0;
                text-align: center;
            }

            h5{
                margin-left: 0;
                padding: 0;
                text-align: center;
                font-size: 1.5em;
            }

            p{
                font-size: 1.7em;
            }
        
        }
    }

    .libros{
        display: flex;
        flex-wrap: wrap;
        gap: 3em;
    }

    .libros2{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15em;
    }

    .quotes{
        justify-content: center;
        margin-bottom: 2rem;
        padding: 2rem;
        gap: 1rem;

        .box{
            width: 60vw;
            justify-content: center;

            &::after{
                font-size: 60px;
                bottom: -6%;
                right: 1.9%;
            }

            &::before{
                font-size: 60px;
            }

            p {
                font-size: 2.2em;
                font-weight: bold;
                width: 100%;
                margin-left: 0;
            }

            h2{
                margin: 0;
                font-size: 2.4em;
            }
        }
    }

    .new-box .title-card h1{
        color: #f9f6f6;
        font-size: 1.8em;
    }

    .new-box .title-card h3{
        font-size: 1.5em;
        color: #938383;
    }

    .new-box .title-card h1{
        font-size: 3.6em;
    }

    .new-box .title-card h3{
        font-size: 2.4em;
    }

    form{
        width: 260px;
        height: 580px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        padding: .5rem;
    }


    .formulario .formulario__posimg .formulario__avatar img{
        display: none;
    }

    .formulario .form1 .text-area{
        width: 150px;
        height: 50px;
    }
    

    #card__size{
        text-align: center;
        h5{
        font-size: 2.2em!important;
    }

    p{
        padding: 1rem 2rem;
        font-size: 1.4em !important;
    }
}

    .img-fluid{
        width: 280px;
        margin: 0;
        padding: 0;
    }

    .formulario .card__position{
        display: flex;
        justify-content: center;
    }

    .formulario .form1 fieldset{
        display: flex;
        flex-wrap: wrap;
        width: 250px;
    }

    .guide__step--avatar img{
        display: none;
    }

    .guide .guide__step{
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10rem;
        margin-bottom: 10rem;

        .guide__step--text{
            @include sizes (100%, 100px);

        a{
            margin-top: 10rem;
            padding: 3rem;
            margin-bottom: 10rem;

            h2{
                font-size: 3em;
            }

            p{
                font-size: 2.3em;
            }
        }
    }
}

    .guide{
        overflow: hidden;
        padding-bottom: 5rem;

        .guide__step2{
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 10rem;
            margin-bottom: 10rem;

            .guide__step--text{
                @include sizes (100%, 100px);

            a{
                padding: 3rem;

                h2{
                    font-size: 3em;
                }

                p{
                    font-size: 2.3em;
                }
            }
        }
    }
}

}