.formulario{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    .h1trabajo{
        font-size: 25px;
        margin-bottom: 2rem ;
        border-bottom: 1px solid;
        text-align: center;
    }

    .formulario__posimg{
        display: flex;
        align-items: flex-end;
    }

    .formulario__posimg .formulario__avatar img{
        width: 500px;
        margin-top: 2rem;
        border-bottom: 3px solid;
    }
}

form{
    background-color: rgba(208, 202, 247, 0.918);
    width: 425px;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 5px;
    font-size: 1.4rem;
    gap: 1rem;
}

.nombrecompleto{
    width: 185px;
    border-color: black;
    background: rgba(211, 202, 202, 0.281);
}

.border{
    border-color: black;
    border-radius: 3px;
    background: rgba(211, 202, 202, 0.281);
}

.card2{
    background-color: rgba(240, 153, 22, 0.897);
    max-width: 1200px;
}