.formulario{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    .h1trabajo{
        font-size: 25px;
        margin-bottom: 2rem ;
        border-bottom: 1px solid;
        text-align: center;
    }

    .formulario__posimg{
        display: flex;
        align-items: flex-end;
    }

    .formulario__posimg .formulario__avatar img{
        width: 500px;
        margin-top: 2rem;
        border-bottom: 3px solid;
    }
}

form{
    width: 425px;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 5px;
    font-size: 1.4rem;
    gap: 1rem;
}

.nombrecompleto{
    width: 185px;
    border-color: black;
}

.border{
    border-color: black;
    border-radius: 3px;
}

.card2{
    max-width: 1200px;
}