#formulario{
    display: grid;
    justify-content: center;
    justify-items: center;

    .h1trabajo{
        font-size: 25px;
        display: flex;
        background: linear-gradient(rgba(234, 221, 202, 0.514), rgba(234, 221, 202, 0.514));
        max-width: fit-content;
        border-radius: 1rem;
        margin-top: 1rem;
        text-align: center;
    }
}

form{
    background-color: rgba(185, 184, 184, 0.829);
    width: 750px;
    margin: 2rem auto;
    border-radius: 5px;
    font-size: 1.4rem;
}

.nombrecompleto{
    width: 185px;
    border-color: black;
    background: rgba(211, 202, 202, 0.281);
}

.border{
    border-color: black;
    border-radius: 3px;
    background: rgba(211, 202, 202, 0.281);
}

.card2{
    background-color: rgba(240, 153, 22, 0.897);
    max-width: 1200px;
}