.frente__box{
    display: flex;
    background: linear-gradient(rgba(234, 221, 202, 0.47), rgba(234, 221, 202, 0.60));
    padding: 5rem;

    .grupo5{
        display: flex;
        margin: 0%;
        text-align: center;

        .box3 h2{
            font-size: 4em;
        }

        .box3 p {
            text-align: center;
            font-size: 2.3em;
            color: rgb(2, 2, 2);
            margin: 1rem;
            max-width: 40em;
        }

        .frente__iframe {
            padding: 1%;
            background-color: #4d1f1f;
            border-radius: 2rem;
            height: 43rem;

            iframe{
                @include sizes (43rem, 100%);
                border-radius: 2rem;
            }
        }
    }
}

.frente__alg{
    display: grid;
    background-color: #d69a56ea;
    height: auto;;
    align-content: center;
    justify-items: center;
    padding-top: 0;

    h2{
        margin-top: 1rem;   
        height: 1rem;
        font-size: 2em;
    }
    
    p{
        font-size: 1.5em;
    }

    .frente__lista ul{
        list-style: none;
        display:flex;
        width: 40rem;
        justify-content: space-around;
        padding: 0;
    }
}

.frente__marcas {
    display: flex;
    text-align: center;
    color: rgb(239, 239, 239);
    margin: 0;
    flex-direction: column;
    align-items: center;
    max-width: 100%;

    h2{
        font-size: 3em;
    }
}

.frente__marcas .frente__marcas--img ul{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
    gap: 3rem;
    list-style: none;
}

.frente__marcas .frente__marcas--img {

    li{
    padding: 1%;
    background-color: #271414a4;
    border-radius: 3rem;
    font-size: 2.5em;
    max-width: 32rem;
    transition: transform .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover{
        transform: scale(1.1);
    }

    a{
        width: 100%;
    }
    }

    img{
        border-radius: 3rem;
        width: 100%;
    }

}

.hr1{
    margin-top: 3rem;
    color:orange;
    margin-bottom: 2%;
    opacity: 1;
    border-top: 3px solid;
}


.guide{
    @include sizes(100%, fit-content);
    background: linear-gradient(0deg, rgba(20,7,23,1) 0%, rgba(37,28,61,1) 36%, rgb(5, 7, 22) 79%);
    flex-direction: column;

    .guide__step2{
        justify-content: center;
        margin-top: 5rem;
        gap: 10rem;
        margin-bottom: 10rem;

        .guide__step--text{
            @include sizes (400px, 200px);

            a{
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #efefef;
                margin-top: 7rem;
                border: 1px solid white;

                h2{
                    font-size: 2.5em;
                    margin-bottom: 2rem;
                    border-bottom: 1px solid white;
                    width: 25ch;
                    margin-top: 2rem;
                }

                p{
                    font-size: 1.7em;
                    margin-bottom: 2rem;

                }
            }
        }

        }

    .guide__step{
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 5rem;
        gap: 10rem;
        margin-bottom: 10rem;

        .guide__step--text{
            @include sizes (400px, 200px);

            a{
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #efefef;
                margin-top: 7rem;
                border: 1px solid white;

                h2{
                    font-size: 2.5em;
                    margin-bottom: 2rem;
                    border-bottom: 1px solid white;
                    width: 25ch;
                    margin-top: 2rem;
                }

                p{
                    font-size: 1.7em;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}



.guide__step--avatar img{
    @include sizes (250px, 400px);
}