.libros{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10rem;
    margin-top: 2rem;
    justify-content: space-around;

    h2{
        color: #f7f7f7;
        font-style:unset;
    }

    .libros__economia {
        transition: transform .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90, 92, 106, 0.349) 0%, rgba(32, 45, 58, 0.219) 81.3% );
        border-radius: 1.2em;
        margin-bottom: 3em;
        margin-top: 1em;
        padding: 1em 1em;
        padding-bottom: 4em;
        display: flex;
        justify-content: center;
        width: 33rem;

        &:hover{
            transform: scale(1.1);
        }
    }

    .libros__top10{
        transition: transform .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90, 92, 106, 0.349) 0%, rgba(32, 45, 58, 0.219) 81.3% );
        border-radius: 1.2em;
        margin-bottom: 3em;
        margin-top: 1em;
        padding: 1em 1em;
        padding-bottom: 6.5em;

        &:hover{
            transform: scale(1.1);
        }
    }

    .libros__cocina{
        transition: transform .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90, 92, 106, 0.349) 0%, rgba(32, 45, 58, 0.219) 81.3% );
        border-radius: 1.2em;
        margin-bottom: 3em;
        margin-top: 1em;
        padding: 1em 1em;
        padding-bottom: 3em;

        &:hover{
            transform: scale(1.1);
        }
    }
}

/* libros2 */

.libros2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10rem;
    margin-top: 2rem;
    justify-content: space-around;

    h2{
        color: #f7f7f7;
        font-style:unset;
    }

    .libros2__ficcion{
        transition: transform .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90, 92, 106, 0.349) 0%, rgba(32, 45, 58, 0.219) 81.3% );
        border-radius: 1.2em;
        margin-bottom: 3em;
        margin-top: 1em;
        padding: 1em 1em;
        padding-bottom: 6.5em;

        &:hover{
            transform: scale(1.1);
        }
    }

    .libros2__autoayuda{
        transition: transform .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90, 92, 106, 0.349) 0%, rgba(32, 45, 58, 0.219) 81.3% );
        border-radius: 1.2em;
        margin-bottom: 3em;
        margin-top: 1em;
        padding: 1em 1em;
        padding-bottom: 6.5em;

        &:hover{
            transform: scale(1.1);
        }
    }

    .libros2__clasicos{
        transition: transform .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90, 92, 106, 0.349) 0%, rgba(32, 45, 58, 0.219) 81.3% );
        border-radius: 1.2em;
        margin-bottom: 3em;
        margin-top: 1em;
        padding: 1em 1em;
        padding-bottom: 4em;

        &:hover{
            transform: scale(1.1);
        }
    }
}

/* efects carousel */


.hovereffect {
    @include sizes (100%, 100%);
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;

    .overlay {
        @include sizes (100%, 100%);
        position:absolute;
        overflow:hidden;
        top:0;
        left:0;
        opacity:0;
        background-color:rgba(0, 0, 0, 0.589);
        -webkit-transition:all .4s ease-in-out;
        transition:all .4s ease-in-out
    }

    img {
        display:block;
        position:relative;
        -webkit-transition:all .4s linear;
        transition:all .4s linear;
        max-width: 100%;
    }

    h2 {
        text-transform:uppercase;
        color:#fff;
        text-align:center;
        position:relative;
        font-size:17px;
        background:rgba(0, 0, 0, 0.712);
        -webkit-transform:translatey(-100px);
        -ms-transform:translatey(-100px);
        transform:translatey(-100px);
        -webkit-transition:all .2s ease-in-out;
        transition:all .2s ease-in-out;
        padding:10px;
    }

        a.info {
        text-decoration:none;
        display:inline-block;
        text-transform:uppercase;
        color:#fff;
        border:1px solid #fff;
        background-color:transparent;
        opacity:0;
        filter:alpha(opacity=0);
        -webkit-transition:all .2s ease-in-out;
        transition:all .1s ease-in-out;
        margin:50px 0 0;
        padding: 14px 18px;
        font-size: 1.3em;

        &:hover {
            box-shadow:0 0 5px #fff;
        }
    }

    &:hover img {
        -ms-transform:scale(1.2);
        -webkit-transform:scale(1.2);
        transform:scale(1.2);
        }

    &:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    }

    &:hover a.info {
        -webkit-transition-delay:.2s;
        transition-delay:.2s;
        }
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }
    

.carousel{
    @include sizes (30rem, 45rem);
}
